@model Agreed.WebUI.Models.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Siparişler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="card-body">
            <form asp-controller="Order" asp-action="Index" method="post" enctype="multipart/form-data">

                <div class="col-md-12">
                    <fieldset class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input py-5" id="orderReportFile" name="orderReportFile">
                            <label class="custom-file-label text-center py-5 h5" for="inputGroupFile01">Excel dosyası eklemek için tıklayınız...</label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-12 pt-5">
                    <button class="btn btn-success btn-block p-1" type="submit" title="Karşılaştır"><i class="fas fa-file-excel-o fa-2x"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
@*<div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">
                        Barkod
                    </th>
                    <th class="text-center">
                        Paket No
                    </th>
                    <th class="text-center">
                        Kargo
                    </th>
                    <th class="text-center">
                        Sipariş Tarihi
                    </th>
                    <th class="text-center">
                        Teslim Tarihi
                    </th>
                    <th class="text-center">
                        Kargo Kodu
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Orders.Count > 0)
                {
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>@item.Barcode</td>
                            <td>@item.PackageNumber</td>
                            <td>@item.CargoCompany</td>
                            <td>@item.OrderDate</td>
                            <td>@item.CargoDeliveryDate</td>
                            <td>@item.CargoCode</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>*@

@if (Model.ResultModel != null)
{
    <script type="text/javascript">

        window.onload = function () {
            var success = '@Model.ResultModel.Success';
            var message = '@Model.ResultModel.Message';

            if (success == 'True') {
                toastr.success(message, 'Başarılı!');
            }
            else {
                toastr.error(message, 'Başarısız!');
            }
        };

    </script>
}